body{
    overflow-wrap: hidden;
}

html{
    scroll-behavior: smooth;
}
/* LANING PAGE CUSTOM CSS */
.services-card > *{
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
} 
.newsletter {
    position: relative;
    background-image: url("../assets/images/hert-niks.jpeg");
    background-size: cover;
    height: 360px;
}

@media(max-width: 768px) {
.newsletter{
    height: 250px;
}
}

.newsletter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 95, 241, 0.53); 
}
.newsletter-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center; 
    z-index: 1; 
}


/* Navbar component */
.nav-bar-items li {
    cursor: pointer;
}
.nav-bar-items li:hover{
    border-bottom: 2px solid #015FF1;
}
/* utility classes */
.shaow-custom {
    box-shadow: 0px 0px 40px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.transform-scale:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.shadow-btn:hover {
    box-shadow: 0px 3px 7px 0px rgba(111, 107, 107, 0.9);
}